<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Infrastructure</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/infras.css" />
    <script src="https://kit.fontawesome.com/8f4601af06.js" crossorigin="anonymous"></script>
</head>
<body>
<%- include("partials/header") %>
    <main id="main-content" tabindex="-1" class="infra__hero" aria-label="hero section">
        <div class="hero-infra__text">
            <h2 class="title">Infrastructure and Providers</h2>
            <p class="text">Understand how Panama built its <span class="highlight-blue">digital backbone</span>: submarine cables, broadband growth, mobile internet, and the evolution of ISPs and mobile operators through <span class="highlight-red">competition</span> and <span class="highlight-red">mergers.</span></p>
        </div>
            <img class="hero-infra__img" src="/assets/panama-canal.jpg" alt="Panama Canal">
    </main>
    <section class="infra__container" aria-label="infrastructure">
        <h1 class="title">Infrastructure</h1>
        <article class="">
        <h2 class="subtitle">Timeline of Infrastructure</h2>
            <div class="cards__container">
                <% timeline.forEach(e => { %>
                    <div class="time__card">
                        <div class="time__year">
                            <h2><%= e.year %></h2>
                        </div>
                        <div class="time__text">
                            <h3 class="small-title"><%= e.title %></h3>
                            <p class="text"><%= e.text %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </article>

        <article class="">
            <h2 class="subtitle">Other important Infrastructures</h2>
            <h3>Subsea Cables</h3>
                <div class="articles__container">
                    <%seaCables.forEach(cable => { %>
                        <div class="article__card">
                            <img src="<%= cable.img_url %>" alt="<%= cable.name %> image">
                            <div class="text__container cables">
                                <h4><%= cable.name %></h4>
                                <p><strong>Landing in Panama</strong>: <%= cable.landings_in_panama.join(", ") %></p>
                                <p><strong>rfs</strong>: <%= cable.rfs %></p>
                                <div class="notes">
                                <h4>Notes</h4>
                                <p><%= cable.notes %></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <h3>IXP</h3>
            <div class="small-article ixp">
            <img src="/assets/ixp_logo.png" alt="IXP Logo">
                <div class="small-article__text">
                    <div class="text__container">
                <h4><%= ixp.name %></h4>
                        <div>
                <h5>Location</h5>
                <p><%= ixp.location %></p>
                        </div>
                        <div>
                <h5>RFS</h5>
                 <p><%= ixp.rfs %></p>
                        </div>
                 <div>
                <h5>Notes</h5>
                <p><%= ixp.notes %></p>
                </div>
                </div>
            </div>
            </div>
            <h3>Public Programs</h3>
            <div class="articles__container programs" aria-label="Public programs">
                <% publicPrograms.forEach((program) => { %>
                    <article class="program__card" aria-label="Program card">
                        <div class="program__media">
                            <img src="<%= program.img_url%>" alt="<%= program.name %> image">
                        </div>

                        <div class="text__container">
                            <h4 class="small-title"><%= program.name %></h4>
                            <p><strong>Start Year:</strong> <%= program.start_year || '—' %></p>
                            <% if (program.footprint) { %>
                                <p><%= program.footprint %></p>
                            <% } %>
                            <% if (program.status) { %>
                                <p class="badge"><%= program.status %></p>
                            <% } %>
                            <% if (program.notes) { %>
                                <p>Notes: <%= program.notes %></p>
                            <% } %>
                        </div>
                    </article>
                <% }) %>
            </div>
        </article>

        <article class="spectrum">
            <h2 class="subtitle">Spectrum and 5G</h2>
            <div class="small-article">
                <h3>Regulator</h3>
                <p><%= spectrum.regulator %></p>
                <h3>Highlights</h3>
                <ul class="highlights">
                    <% spectrum.highlights.forEach(highlight => { %>
                        <li><%= highlight %></li>
                   <% })%>
                </ul>
            </div>
        </article>
    </section>
    <section class="providers" aria-label="providers section">
        <h2>Providers</h2>
        <div class="cards__container">
            <% providersInfo.forEach(provider => { %>
                <div class="card-provider">
                    <figure class="card-media">
                    <img src="<%= provider.img_url  %>" alt="<%= provider.id %> logo">
                    </figure>
                    <div class="card-text">
                        <h3><%= provider.brand %></h3>
                        <p><strong>Type</strong>: <%= provider.type %></p>
                        <p><strong>Status</strong>: <span class="status"><%= provider.status %></span></p>
                        <p><strong>Summary</strong>: <%= provider.summary %></p>
                        <p><strong>Network</strong>:
                        <% for (const key in provider.network) { %>
                        <span><%= key %>: <%= provider.network[key] %></span>
                        <% } %>
                        </p>
                        <p><strong>Website: </strong><a href="<%= provider.website %>" target="_blank">link</a></p>
                    </div>
                </div>
            <% }); %>
        </div>

    </section>
<%- include("partials/footer") %>
</body>
</html>
